@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Trivident Movie DEMO</h1>
    <p class="lead">This is the demo developed using ASP.NET to provide basic CRUD operations on a remote Mongo Database</p>
    
    @Html.ActionLink("Check out the movies »", "", "Movies", new { }, new { @class = "btn btn-primary btn-lg" })
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Mongo DB was explored, underlying structure represented in MoviesModels. Mongo DB connection was established. Create, Read, Update, Delete functionality was added. 
        </p>
    </div>
    <div class="col-md-4">
        <h2>Getting it pretty</h2>
        <p>Some time was spent on proper formatting of data contained in the database. Providing proper input forms, validation and final data representation. Website design was customized using free BootStrap theme from <a href="https://bootswatch.com/united">Bootswatch</a>. Information was insured to be readable on devices of all sizes.</p>
    </div>
    <div class="col-md-4">
        <h2>Getting it a step further?</h2>
        <p><code>TO BE DONE</code></p>
        <p>Singe-page application implementation was attempted using the same underlying structure in order to provide indicative of JS understanding. </p>
    </div>
</div>